<div style="display: flex; align-items: center; justify-content: center; background-color: #f9f9f9; padding: 30px;">
  <div style="max-width: 50%; text-align: center;">
    <img width="420" height="340" src="../assets/popi.png" alt="imagen popi" style="max-width: 100%; border-radius: 10px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);">
    <br>
    <p style="font-family: 'Arial Black', sans-serif; font-size: 20px; margin: 0; color: #4CAF50;">¡Descubre la revista Popi!</p>
  </div>

  <div style="max-width: 50%; text-align: center;">
    <video width="420" height="340" controls style="max-width: 100%; border-radius: 10px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);">
      <source src="../assets/video.mp4" type="video/mp4">
      Tu navegador no soporta el elemento de video.
    </video>
  </div>
</div>

<br>

<p style="font-family: 'Arial Black', sans-serif; font-size: 20px; margin: 0; text-align: center;">
  <b>
    <a href="https://www.bayardeducacion.com/revista/popi" style="text-decoration: none; color: red;">¡Explora la revista <span style="font-style: italic;">Popi</span> ahora!</a>
  </b>
</p>
