<div style="display: flex; align-items: center;">
  <img width="420" height="340" src="../assets/popi.png" alt="imagen popi" style="max-width: 50%;">

  <video width="420" height="340" controls style="max-width: 50%;">
    <source src="../assets/video.mp4" type="video/mp4">
    Tu navegador no soporta el elemento de video.
  </video>
</div>

<br>
<p style="font-family: Arial, sans-serif; font-size: 16px; margin: 0;">
  <b>
    <a href="https://www.bayardeducacion.com/revista/popi" style="text-decoration: none; color: red;">
      Enlace a la revista <span style="font-style: italic;">Popi</span>
    </a>
  </b>
</p>



